/* Base styles for all screen sizes */
* {
    color: #ffffff;
    font-family: "Open Sans";
    text-align: center;
}

.card-outer-cd {
    margin-bottom: 35px;
    width: 100%;
}

.card-inner-cd {
    border: transparent;
    background-color: transparent;
    margin: 10px;
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 0px 10px 5px #101010;
    -moz-box-shadow: 0px 0px 10px 5px #101010;
    box-shadow: 0px 0px 10px 5px #101010;
}

.card-upper-cd {
    height: 200px;
    border-radius: 8px 8px 0px 0px;
    width: 200%;
    border: transparent;
    background-image: url('./../images/cardImg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.card-lower-cd {
    width: 200%;
    border-radius: 0px 0px 8px 8px;
    background-color: #383b47;
}

.upper-row {
    margin-bottom: 20px;
}

.detail_row {
    width: 85%;
}

.city-list {
    width: 80vw !important; 
    display: flex;
    justify-content: center;
}

.card-segment-cd {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    width: auto;
}

.card-body p {
    display: flex;
    justify-content: left;
}

.status-details {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

.cloud-img {
    width: 30px;
    height: 30px;
}

.container-cd {
    display: flex;
}

.card-text-city-cd {
    font-size: 22px;
    font-weight: 600;
}

.card-text-timeDate-cd {
    font-size: 12px;
    font-weight: 400;
}

.card-text-skyType-cd {
    font-size: 15px;
    line-height: 36px;
    font-weight: 400;
    margin-left: 10px;
}

.card-text-temp-cd {
    font-size: 44px;
    line-height: 69px;
    text-transform: uppercase;
    font-weight: 500;
}

.close-btn {
    display: flex;
    justify-content: end;
}

.card-text-minTemp-cd,
.card-text-maxTemp-cd {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.card-footer p {
    font-size: 10px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.card-text-imgNavigation-cd {
    align-items: center;
    padding: 5px;
}

/* Media queries for responsiveness */

@media only screen and (min-width: 2000px) {
    .card-outer-cd {
        width: 1600px;
        height: auto;
    }

    .card-inner-cd,
    .card-outer-cd {
        width: 700px;
        height: auto;
    }

    .city-list {
        width: 100%;
    }

    .card-text-temp-cd {
        font-size: 45px;
    }

    .card-text-city-cd {
        font-size: 20px;
    }

    .card-footer p {
        font-size: 9px;
    }

    .card-text-skyType-cd {
        font-size: 15px;
    }
}

@media only screen and (max-width: 2000px) {
    .card-footer p {
        font-size: 8px;
    }
}

@media only screen and (max-width: 1400px) {
    .card-footer p {
        font-size: 7px;
    }

    .card-text-city-cd {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .card-text-temp-cd {
        font-size: 35px;
    }

    .card-text-city-cd {
        font-size: 15px;
    }

    .card-footer p {
        font-size: 4.5px;
    }

    .card-text-skyType-cd {
        font-size: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .card-text-temp-cd {
        font-size: 45px;
    }

    .card-text-city-cd {
        font-size: 20px;
    }

    .card-footer p {
        font-size: 10px;
    }

    .card-text-skyType-cd {
        font-size: 15px;
    }
}

@media only screen and (max-width: 774px) {
    .card-upper-cd {
        width: 100%;
        height: 340px;
    }

    .card-lower-cd {
        width: 100%;
    }

    .footer-segment {
        border: none !important;
    }
}
