.card-outer-cd{
    margin: 20px;
    padding: 10px;
    border: transparent;
    display: flex;
}
.card-inner-cd{
    border: transparent;
    border: none;
    background-color: transparent;
    margin: 10px;
    -webkit-box-shadow:0px 0px 10px 5px  #101010 ;
    -moz-box-shadow:0px 0px 10px 5px  #101010 ;
    box-shadow:0px 0px 10px 5px #101010 ;
}
.card-upper-cd{
    height: 217px;
    border-radius: 8px 8px  0px 0px;
    background-color: #378de7;
    width: 579px;
    border: transparent;

    background-image: url('./../images/Rectangle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(29, 29, 30);
}

.card-lower-cd{
    width: 579px;
    border-radius:  0px 0px 8px 8px;
    background-color: #383b47;
}

.upper-row{
    margin-bottom: 20px;
}

.card-segment-cd{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
}

.status-details {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cloud-img{
    width: 30px;
    height: 30px;
}

.container-cd{
    display: flex;
}

.card-text-city-cd{
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}

.card-text-timeDate-cd{
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.card-text-skyType-cd{
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    margin-left: 10px;
    
}

.card-text-temp-cd{
    font-size: 44px;
    line-height: 69px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Open Sans";
    text-align: center;

}

.card-text-minTemp-cd{
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 0;
}

.card-text-maxTemp-cd{
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;

}

.card-text-pressure-cd, .card-text-humidity-cd, .card-text-visibility-cd{
    font-size: 12px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 0;

}

.card-text-sunrise-cd, .card-text-sunset-cd{
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: right;
    margin-bottom: 0;
}

.card-text-wind-cd{
    font-size: 12px;
    line-height: 34px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}

.card-text-imgNavigation-cd{

    align-items: center;
}

/* media queries */

@media only screen and (max-width: 1300px) {
    .card-upper-cd{
        width: 520px;
    }

    .card-lower-cd{
        width: 520px;
    }
}

@media only screen and (max-width: 800px) {
    .card-upper-cd{
        width: 430px;
        display: flex;
        flex-direction: column;
    }

    .card-lower-cd{
        width: 430px;
    }
}


@media only screen and (max-width: 750px) {

    .card-upper-cd{
        width: 360px;
    }

    .card-lower-cd{
        width: 360px;
    }

    .card-upper-cd{
        height: 350px;
    }

    .card-text-city-cd{
        margin-bottom: 0;
    }
    
    .card-text-timeDate-cd{
        margin-bottom: 35px;
    }

    .card-text-pressure-cd, .card-text-humidity-cd, .card-text-visibility-cd{
        font-size: 14px;
    }
    
    .card-text-sunrise-cd, .card-text-sunset-cd{
        font-size: 14px;
    }
    
    .card-text-wind-cd{
        font-size: 14px;
    }
    
    .card-text-imgNavigation-cd{
        align-items: center;
    }

    .card-text-imgNavigation-cd{
        position: relative;
        left: 50px;
    }
    
}



