.card-outer{
    display: flex;
    margin-bottom: 110px;
    margin-top: 12px;
}
.card-inner{
    width: 1000px;
    background-color: transparent; 
    border: transparent;
}

.card-header{
    background-color: #2e95df;
}

.btn-backward{
    background-color: transparent;
    border: none;
    border-radius: 100px;
}

.card-lower{   
    background-color: #383b47;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.detailrow{
    width: 70%;
}

.card-segment{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.below-detail-row{
    width: 80%;
    margin-top: 10px;
}

.top-vl{
    border-left: 3px solid #cdc9c9;
    height: 140px;
}

.bottom-vl{
    border-left: 3px solid #4d4c4c;
    height: 70px;
    margin-top: 20px;
}

.card-text-city{
    margin-top: 50px;
    margin-bottom: 8px;
    font-size: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.upper-second-row{
    display: flex;
    
}
.upper-left{
    height: 200px;
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-right{
    height: 200px;
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text-timeDate{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 50px;
}

.card-text-skyType{
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 520;
    font-family: "Open Sans";
    
}

.card-text-temp{
    font-size: 33px;
    line-height: 69px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;

}

.card-text-minTemp{
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 520;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 0;
}

.card-text-maxTemp{
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 520;
    font-family: "Open Sans";
    text-align: center;

}

.card-text-pressure, .card-text-humidity, .card-text-visibility{
    font-size: 14px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    margin-bottom: 0;

}

.card-text-sunrise, .card-text-sunset{
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: right;
    margin-bottom: 0;
}

.card-text-wind{
    font-size: 14px;
    line-height: 34px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 0;
}

.sunrise-detail-col{
    margin-top: 25px;
}

.input-details{
    font-weight: 200;
}

.card-text-imgNavigation{

    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 22px;
}

@media only screen and (max-width: 1200px) {
    .card-outer{
        display: flex;
        flex-direction: column;
    }

    .card-text-temp{
        font-size: 30px;
        font-weight: 600;
    
    }

    .card-text-minTemp{
        font-size: 14px;
    }
    
    .card-text-maxTemp{
        font-size: 14px;
    
    }
}

@media only screen and (max-width: 1000px) {
    .detailrow{
        width: 100%;
        position: relative;
        right: 70px;
    }

    .title-raw{
        position: relative;
        left: 200px;
    }

}

@media only screen and (max-width: 750px) {

    .detailrow{
        width: 650px;
    }

    .title-raw{
        position: relative;
        left: 0px;
    }

    .card-text-temp{
        font-size: 33px;
        font-weight: 600;
    }
    
    .bottom-vl{
        display: none;
    }

    .below-detail-row{
        display: flex;
        position: relative;
        left: 50px;
    }

    .card-text-imgNavigation{

        position: relative;
        left: 50px;
    }

}


@media only screen and (max-width: 575px) {

    .card-inner{
        width: 500px;
    }

    .detailrow{
        width: 650px;
    }

}
