* {
    color: #ffffff;
    font-family: "Open Sans";
    justify-items: center;
}

.card-outer{
    display: flex;
    width: 70%;
    margin-top: 12px;
}
.card-inner{
    width: 90%;
    background-color: transparent; 
    border: transparent;
    min-width: 190px;
}

.card-header{
    background-color: #2e95df;
}

.btn-backward{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 15px;
    background-color: transparent;
    border: none;

}

.card-lower{   
    background-color: #383b47;
    width: 100%;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ex-footer-segment{
    width: auto;
}

.ex-footer-segment p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.upper-inner-box{
    width: auto;
}

.detailrow{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-segment{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: auto;

}

.below-detail-row{
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body p{
    display: flex;
    justify-content: center;
}


.top-vl{
    border-left: 3px solid #cdc9c9;
    width: 3px;
    height: 140px;
    margin-left: 10%;
    margin-right: 10%;

}

.bottom-vl{
    border-left: 3px solid #4d4c4c;
    height: 70px;
    margin-top: 20px;
}

.card-text-city{
    margin-top: 50px;
    margin-bottom: 8px;
    font-size: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.upper-second-row{
    display: flex;
    
}
.upper-left{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-right{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text-timeDate{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 50px;
}

.card-text-skyType{
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 520;
    font-family: "Open Sans";
    
}

.card-text-temp{
    font-size: 33px;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;

}

.card-text-minTemp{
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 520;
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 0;
}

.card-text-maxTemp{
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 520;
    font-family: "Open Sans";
    text-align: center;

}

.input-details{
    font-weight: 200;
}

.card-text-imgNavigation{

    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 22px;
}

.title-raw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

@media only screen and (min-width: 2000px) {
    .card-outer{
        width: 1000px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .card-inner{
        width: 1000px;
        height: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .card-outer{
        display: flex;
        flex-direction: column;
    }

    .card-text-temp{
        font-size: 30px;
        font-weight: 600;
    
    }

    .card-text-minTemp{
        font-size: 14px;
        line-height: 25px;

    }
    
    .card-text-maxTemp{
        font-size: 14px;
        line-height: 25px;
        
    
    }
}



@media only screen and (max-width: 1000px) {
    .detailrow{
        width: 100%;
        position: relative;
    }

}

@media only screen and (max-width: 768px) {

    .detailrow{
        width: 100%;
    }

    .card-text-temp{
        font-size: 22px;
        font-weight: 550;
    }
    
    .bottom-vl{
        display: none;
    }

    .card-text-minTemp{
        font-size: 12px;
        line-height: 15px;

    }
    
    .card-text-maxTemp{
        font-size: 12px;
        line-height: 15px;
    }



 
    
    .input-details{
        font-weight: 200;
    }

}
