.main-footer{
    position: static;
    width: 100vw;
    height: 60px;
    background-color: #30333d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 15px;
    margin-bottom: 0;
    bottom: 0px;
}

.main-footer p{
    opacity: 0.502;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 36px;
    color: #f1f1f1;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}