.search-outer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.searchbar {
  background-color: none !important;
}

.search-text-input {
  border-radius: 8px 0px 0px 8px;
  color: white;
  background-color: rgb(43, 42, 42);
  border: transparent;
  width: 300px;
  height: 40px;
}

.btn-search {
  background-color: #6c5dd3;
  color: white;
  width: 130px;
  height: 40px;
  border: transparent;
  border-radius: 0px 8px 8px 0px;
}

@media only screen and (min-width: 2000px) {
  .search-text-input {
    width: 900px;
    height: 90px;
    border-radius: 15px 0px 0px 15px;

  }

  .btn-search {
    width: 350px;
    height: 90px;
    font-size: 30px;
    border-radius: 0px 15px 15px 0px;
  }

}


@media only screen and (max-width: 765px) {
  .search-text-input {
    width: 220px;
  }

  .btn-search {
    width: 100px;
    font-size: smaller;
  }
}
